<h1>New Template</h1>

<%= form_tag '/templates', action: :upload, multipart: true do %>
<%= label_tag(:template, "Operational Template file:") %> <%= file_field :template, :file %>
<%= submit_tag "Upload" %>
<% end %>

<%= link_to 'Back', templates_path %>
